.date,
.title {
    text-transform: uppercase;
    font-weight: bold;
}

.date {
    color: var(--color-red);
    font-size: 40px;
    opacity: var(--text-opacity);
}

.date>span {
    position: sticky;
    top: var(--header-top);
}

.title {
    width: 100%;
    margin-bottom: 10px;
    font-size: var(--h3-font-size);
    cursor: pointer;

    &:hover {
        color: var(--color-red);
    }

    // &::before {
    //     content: '';
    //     position: absolute;
    //     inset: 0;
    // }
}

.previewCover {
    // height: 100%;
    // max-height: 600px;

    width: 100%;
    display: inline-block;
    position: relative;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;

        position: absolute;
        top: 5px;
        left: 0;
        right: 0;
        bottom: 0;
    }

    // &:before {
    //     content: "";
    //     padding-top: 100%;
    //     float: left;
    // }

    &:before {
        content: '';
        display: block;
        padding-top: 100%;
        /* Обеспечивает квадратные пропорции */
    }
}


.info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: var(--text-font-size);
    gap: 10px;

    position: relative;
    height: 100%;

    &>span {
        opacity: var(--text-opacity);
    }

    &>.premier {
        max-width: min-content;
        padding: 2px 5px;
        text-transform: uppercase;
        color: var(--color-red);
        border: 1px red solid;
        border-radius: 3px;
    }
}

.infoWithBtn {
    padding-bottom: 60px;
}

.btn {
    position: absolute;
    bottom: 0;
}

@media (max-width: 1023px) {
    .date {
        font-size: var(--text-font-size);
    }
}

@media (max-width: 500px) {
    .date {
        font-size: 18px;
    }
}