.event {
    display: grid;
    grid-template-columns: 1fr var(--header-width-base) 1fr;
    gap: 20px;
    width: 100%;
    border-top: solid 1px var(--color-white);
    padding: var(--padding-base) 0;
}

.date,
.title {
    text-transform: uppercase;
    font-weight: bold;
}

.date {
    color: var(--color-red);
    font-size: 40px;
    opacity: var(--text-opacity);
}

.date>span {
    position: sticky;
    top: var(--header-top);
}

.title {
    width: 100%;
    margin-bottom: 10px;
    font-size: var(--h3-font-size);
    cursor: pointer;
}

.title:hover {
    color: var(--color-red);
}

.previewCover {

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &:before {
        content: "";
        padding-top: 100%;
        float: left;
    }
}

.info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: var(--text-font-size);
    // opacity: var(--text-opacity);
    gap: 10px
}

.info>span {
    opacity: var(--text-opacity);
}

.premier {
    max-width: min-content;
    padding: 2px 5px;
    text-transform: uppercase;
    color: var(--color-red);
    border: 1px red solid;
    border-radius: 3px;
}


@media (max-width: 1023px) {

    .event {
        grid-template-columns: 1fr 1fr;
        padding: var(--padding-base) 0;
        gap: 15px;
    }

    .date {
        font-size: var(--text-font-size);
        grid-column: span 2;
    }

}

@media (max-width: 500px) {

    .event {
        grid-template-columns: 1fr;
        padding: var(--padding-base) 0;
    }

    .date {
        font-size: 18px;
        grid-column: span 1;
    }

    .previewCover {
        width: 100%;
        margin: 0 0 15px 0;
        grid-column: span 1;
    }

    .info {
        min-width: 100%;
        margin: 0;
    }
}