.event {
    display: grid;
    grid-template-columns: 1fr var(--header-width-base) 1fr;
    gap: 20px;
    width: 100%;
    border-top: solid 1px var(--color-white);
    padding: var(--row--padding-tb-base) 0;
}

.eventDate,
.eventTitle {
    text-transform: uppercase;
    opacity: var(--text-opacity);
}

.eventDate {
    color: var(--color-red);
    font-size: 40px;
}

.eventTitle {
    width: 100%;
    margin-bottom: 10px;
    font-size: var(--h3-font-size);
}

.eventCover {

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &:before {
        content: "";
        padding-top: 100%;
        float: left;
    }
}

.eventInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: var(--text-font-size);
    opacity: var(--text-opacity);
}



@media (max-width: 1023px) {

    .event {
        grid-template-columns: 1fr 1fr;
        padding: var(--row--padding-tb-base) 0;
        gap: 15px;
    }

    .eventDate {
        font-size: var(--text-font-size);
        grid-column: span 2;
    }

}

@media (max-width: 500px) {

    .event {
        grid-template-columns: 1fr;
        padding: var(--row--padding-tb-base) 0;
    }

    .eventDate {
        font-size: 18px;
        grid-column: span 1;
    }

    .eventCover {
        width: 100%;
        margin: 0 0 15px 0;
        grid-column: span 1;
    }

    .eventInfo {
        min-width: 100%;
        margin: 0;
    }
}