:root {
    --color-black: #1d1d1d;
    --color-white: #ffffff;
    --color-red: #ff0000;

    --header-width-base: clamp(350px, 35vw, 500px);

    @media (max-width: 500px) {
        --header-width-base: 100%;
    }


    --container-margin-lr: 90px;

    @media (max-width: 767px) {
        --container-margin-lr: 30px;
    }
}