:root {
    --color-black: #1d1d1d;
    --color-white: #ffffff;
    --color-red: #ff0000;
    --color-gray: #333333;

    --header-width-base: clamp(350px, 35vw, 500px);

    @media (max-width: 500px) {
        --header-width-base: 100%;
    }

    --header-height: 70px; // Высота хедера
    --header-top: 20px; // Верхний отступ хедера

    --container-margin-lr: calc(90px / 2);

    @media (max-width: 767px) {
        --container-margin-lr: calc(30px / 2);
    }

    --text-opacity: 0.8;

    --h1-h2-font-size: 100px;

    @media (max-width: 600px) {
        --h1-h2-font-size: 48px;
    }

    --h3-font-size: 38px;

    @media (max-width: 600px) {
        --h3-font-size: 32px;
    }

    --text-font-size: 24px;

    @media (max-width: 500px) {
        --text-font-size: 18px;
    }

    --text-line-height: 30px;

    --padding-base: 50px;

    @media (max-width: 1023px) {
        --padding-base: 35px;
    }

    @media (max-width: 500px) {
        --padding-base: 20px;
    }

    --z-index-header: 10;

}