.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 22px;
    cursor: pointer;
    
    &:hover {
        .lineTop,
        .lineMid,
        .lineBot {
            background-color: var(--color-red);
        }
    }
}

.lineTop,
.lineMid,
.lineBot {
    width: 25px;
    height: 3px;
    background-color: currentColor;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
}

.accordion {
    display: grid;
    grid-template-rows: 0fr;
    transition: 250ms grid-template-rows ease;
    position: absolute;
    z-index: 5;
    width: 100%;
    left: 0;
    top: 100%;
}

.accordion.open {
    grid-template-rows: 1fr;
    border-top: 1px var(--color-black) solid;
}

.lineTop.open {
    -webkit-transform: rotate(45deg);
    transform: translateY(10px) rotate(45deg);
}

.lineMid.open {
    opacity: 0;
}

.lineBot.open {
    -webkit-transform: rotate(45deg);
    transform: translateY(-9px) rotate(-45deg);
}