.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 22px;
}

.burger>.line {
    width: 25px;
    height: 3px;
    background-color: currentColor;
}

.accordion {
    display: grid;
    grid-template-rows: 0fr;
    transition: 250ms grid-template-rows ease;
    position: absolute;
    z-index: 5;
    width: 100%;
    left: 0;
    top: 100%;
}

.accordion.open {
    grid-template-rows: 1fr;
}
