.eventPeopleRow {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--padding-base);
    font-size: var(--text-font-size);
    line-height: var(--text-line-height);
}

.eventPeopleRole {
    margin-bottom: 5px;
}

.eventPeopleName {
    text-transform: uppercase;
    font-weight: bold;
}

.eventPeopleRow:last-child {
    margin-bottom: 0;
}