.eventPeopleRow {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--padding-base);
}

.eventPeopleRole {
    margin-bottom: 5px;
}

.eventPeopleName {
    text-transform: uppercase;
    font-weight: bold;
}