.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: var(--container-margin-lr) 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo>svg {
    width: 35px;
    margin-right: 10px;
}

.media {
    gap: 10px;
    display: flex;
    justify-content: end;
}

.media>a {
    width: 35px;
}

.media>svg {
    height: 35px;
}

.media>a:hover {
    color: var(--color-red);
}