.footer {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr var(--header-width-base) 1fr;
    padding: var(--padding-base) 0;
    font-size: var(--text-font-size);
    gap: 20px;
    border-top: 1px var(--color-white) solid;
}

.item {
    display: flex;
    flex-direction: column;
}

.itemTitle {
    margin-bottom: 10px;
    font-weight: bold;
}

// .item>span:last-child, .item>a{
//     color: var(--color-red);
// }

.logo {
    display: flex;
    align-items: center;
    grid-column: span 3;
    margin-top: var(--container-margin-lr);
    margin-left: auto;
    margin-right: auto;
}

.logo>svg {
    width: 35px;
    margin-right: 10px;
}

.media {
    gap: 20px;
    display: flex;
}

.media>a {
    width: 35px;
}

.media>svg {
    height: 35px;
}

.media>a:hover {
    color: var(--color-red);
}


@media (max-width: 1023px) {
    .footer {
        grid-template-columns: 1fr 1fr;
    }

    .media {
        margin-top: auto;
    }

    .logo {
        grid-column: span 2;
    }
}

@media (max-width: 500px) {
    .footer {
        grid-template-columns: 1fr;
    }

    .media {
        justify-content: start;
    }

    .logo {
        grid-column: 1;
    }

}