.root {
    width: 100%;
    --text-height: 500px;
    padding-bottom: var(--container-margin-lr);
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

.content {
    position: relative;
    height: 100%;
    width: 100%;
}

.content>img {
    position: absolute;
    object-fit: contain;
    width: 100%;
    height: 100%;
}
