.filters {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.button {
    text-transform: uppercase;
    background-color: var(--color-gray);
    padding: 10px 15px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.button:not(.select) {
    background-color: var(--color-black);
}

.button:not(.select):hover {
    background-color: var(--color-red);
}