.root {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: var(--text-font-size);
    gap: 10px;

    .title {
        font-size: var(--h3-font-size);
        text-transform: uppercase;
        font-weight: bold;
    }

    a {
        max-width: min-content;

        :hover {
            color: var(--color-red)
        }
    }

}