.header {
    position: sticky;
    top: var(--header-top);

    display: flex;
    width: var(--header-width-base);
    height: var(--header-height);
    padding: 10px;

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
    color: var(--color-black);

    z-index: var(--z-index-header);
}

.logo {
    width: 50px;
    height: 50px;
}