.header {
    display: flex;
    width: 350px;
    height: 70px;
    color: #ffffff;
    padding: 10px;

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    justify-content: space-between;
    align-items: center;
    background-color: var(--color-black);

}

.logo {
    width: 50px;
    height: 50px;
    color: black;
}

.menu {}

.menu>ul {
    display: flex;
}

.menu>ul>li {
    list-style-type: none;
}

.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 22px;
}

.burger>.line {
    width: 25px;
    height: 3px;
    background-color: #fff;
}