.root {
    display: block;
}

.section {
    padding: var(--padding-base) 0;
    border-bottom: solid 1px var(--color-white);
}

.header {
    display: grid;
    grid-template-columns: 1fr var(--header-width-base) 1fr;
    transition: 0.2s;
    cursor: pointer;
}

.header:hover {
    color: var(--color-red);
}

.toggle {
    display: flex;
    align-items: center;
}

.toggle>svg {
    height: 24px;
    width: 24px;
    transform: rotate(90deg);
}

.toggle>svg.open {
    transform: rotate(-90deg);
}

.title {
    grid-column: span 2;
    text-transform: uppercase;
    font-size: var(--h3-font-size);
    user-select: none;
}

.accordion {
    display: grid;
    grid-template-rows: 0fr;
    transition: 250ms grid-template-rows ease;
}

.accordion.open {
    grid-template-rows: 1fr;
}

.content {
    overflow: hidden;

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: var(--padding-base);
    }
}

@media (max-width: 1023px) {

    .header {
        display: grid;
        grid-template-columns: calc(24px + var(--padding-base)) auto;
    }

    .title {
        grid-column: unset;
    }

}